@mixin perfectCenter(){
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

form.booking-form {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr;
	max-width: 700px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	input {
		@include inputCss(1px solid rgba(0, 0, 0, 0.3));
		cursor: pointer;
	}
	select {
		@include inputCss(1px solid rgba(0, 0, 0, 0.3));
	}
	label {
		@include font($fontTitle, 22px, inherit);
	}

	input[type='submit'] {
		@include inputSubmit();
	}
}
