.reservations {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $highlightColor2;
    position: relative;
}


@import './bookingform';
@import './booking_slot';