.reservations {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 30px;
    background-color: $highlightColor2;
}


@import './bookingform';
@import './booking_slot';