// variables sass
// colors
$primaryColor1: #495e57;
$primaryColor2: #f4ce14;
$secondaryColor1: #ee9972;
$secondaryColor2: #fbdabb;
$highlightColor1: #edefee;
$highlightColor2: #333333;
// font family

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import '../node_modules/react-alice-carousel/lib/scss/alice-carousel.scss';

// for lead text (for descriptive items to catch attention !  exp CTA , home page) and card title , nav item
$fontTitle: 'Markazi Text', serif;
// for p max 65 char per line and line-height 1.5 , highlight like price
$fontParagraphStyle: 'Karla', sans-serif;

// mixin and extension
%section2 {
	background-image: radial-gradient(
		circle,
		#f4ce14,
		#d4862c,
		#984e34,
		#4f2627,
		#000000
	);
}
@mixin font($font, $size, $height) {
	font-family: $font;
	font-size: $size;
	line-height: $height;
}

@mixin button() {
	border-radius: 20px;
	background: $primaryColor2;
	cursor: pointer;
	padding: 10px 15px;
	border: none;
	@include font($fontTitle, 22px, inherit);
}
// global item
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
body {
	background: $highlightColor1;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: inherit;
}

.primary-btn {
	@include button();
	margin-top: 20px;
	opacity: 0;
	transition: background 200ms ease-in;
	animation: fadeIn 2s ease-in-out forwards;

	&:hover {
		background: $secondaryColor1;
	}
}
// home page
@import './components/Nav/Nav';
@import './components/Header/Header';
@import './components/Main/main';
@import './components/Footer/footer';
// app 
@import './components/App/reservations';


// queries responsive
// xl
@media screen and (min-width: 1281px) {
	@import './components/Main/main_xl';
}
// md
@media screen and (max-width: 839px) {
	@import './components/Nav/NavResponsive_md';
	@import './components/Header/Header-md-responsive';
	@import './components/Main/main_md';
	@import './components/Footer/footer_md';

	.booking-form {
		flex-direction: column;
	}

}
// 2xs
@media screen and (max-width: 640px) {
	.footer-bloc-1 {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 50px;
		&-child-1 {
			img {
				max-width: 300px;
			}
		}
		&-child-2,
		&-child-3 {
			text-align: center;
		}
		&-child-2 {
			p {
				max-width: 300px;
				margin: auto;
			}
		}
	}
	.footer-bloc-2 {
		&-child-2 {

			ul {
				flex-direction: column;
			}
		}
	}

	form.booking-form {
		position: relative;
		margin-top: 0;
		gap: 10px;
		border-radius: 0;
	}
	.reservations {
		flex-direction: column;
		gap: 10px;
		justify-content: flex-start;
	}

}
// xs
@media screen and (max-width: 350px) {
	@import './components/Nav/NavResponsive_xs';
	@import './components/Main/main_xs';
	@import './components/Footer/footer_xs';

}

