nav {
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0 , 0.25);
    justify-content: space-between;
    background-color: $highlightColor1;
    user-select: none;
    position: sticky;
    z-index: 10000;
    top : 0;
    width: 100%;

    div.nav-brand {
        img {
        width: 200px;
            
        }
    }
    
    ul.navbar-nav {
     display: flex;
     flex-flow: row nowrap;
     list-style-type: none;
     li.nav-item {
        font-size: 1.3em;
        margin-left: 30px;
        @include font($fontTitle,25px , inherit );
    }
    }

}
.nav-link {
    transition: color 300ms ease-in;
    &:hover {
        color : $primaryColor1;
    }
}
@import './HamburgerMenu.scss';

